In [1]:
# Import Pandas with the alias pd
import pandas as pd

# Check Pandas version
pd.__version__

'1.5.3'

In [5]:
# Create a Pandas dataframe with the first 100 rows of the xslx
# See Pandas documentation or YouTube videos for info about dataframes
df = pd.read_excel('Financial_Sample.xlsx')

In [14]:
Lloyds_data = df

In [15]:
Lloyds_data

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,month_number,month_name,year
22,Midmarket,France,Paseo,None,549.0,10,15,8235.0,0.0,8235.0,5490.0,2745.0,2013-09-01,9,September,2013,9,September,2013
23,Small Business,Mexico,Paseo,None,788.0,10,300,236400.0,0.0,236400.0,197000.0,39400.0,2013-09-01,9,September,2013,9,September,2013
42,Government,France,VTT,None,1527.0,250,350,534450.0,0.0,534450.0,397020.0,137430.0,2013-09-01,9,September,2013,9,September,2013
62,Enterprise,United States of America,Carretera,Low,330.0,3,125,41250.0,412.5,40837.5,39600.0,1237.5,2013-09-01,9,September,2013,9,September,2013
72,Small Business,United States of America,Montana,Low,2498.0,5,300,749400.0,7494.0,741906.0,624500.0,117406.0,2013-09-01,9,September,2013,9,September,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,Midmarket,Canada,Montana,High,2300.0,5,15,34500.0,4830.0,29670.0,23000.0,6670.0,2014-12-01,12,December,2014,12,December,2014
680,Channel Partners,United States of America,Paseo,High,914.0,10,12,10968.0,1645.2,9322.8,2742.0,6580.8,2014-12-01,12,December,2014,12,December,2014
681,Government,France,Paseo,High,293.0,10,20,5860.0,879.0,4981.0,2930.0,2051.0,2014-12-01,12,December,2014,12,December,2014
687,Channel Partners,United States of America,Velo,High,914.0,120,12,10968.0,1645.2,9322.8,2742.0,6580.8,2014-12-01,12,December,2014,12,December,2014
694,Government,France,VTT,High,293.0,250,20,5860.0,879.0,4981.0,2930.0,2051.0,2014-12-01,12,December,2014,12,December,2014

In [13]:
Lloyds_data_result = Lloyds_data.assign(
    **{
        "COGS/Units Sold": Lloyds_data["COGS"] / Lloyds_data["Units Sold"],
        "COGS/Units Sold/Manufacturing Price": Lloyds_data["COGS"] / Lloyds_data["Units Sold"] / Lloyds_data["Manufacturing Price"].astype(float),
        "COGS/Manufacturing Price": Lloyds_data["COGS"] / Lloyds_data["Manufacturing Price"].astype(float)
    }
)[["COGS/Units Sold", "COGS/Units Sold/Manufacturing Price", "Manufacturing Price", "COGS/Manufacturing Price"]]

print(Lloyds_data_result)

     COGS/Units Sold  COGS/Units Sold/Manufacturing Price  \
22              10.0                                1.000
23             250.0                               25.000
42             260.0                                1.040
62             120.0                               40.000
72             250.0                               50.000
..               ...                                  ...
637             10.0                                2.000
680              3.0                                0.300
681             10.0                                1.000
687              3.0                                0.025
694             10.0                                0.040

     Manufacturing Price  COGS/Manufacturing Price
22                    10                    549.00
23                    10                  19700.00
42                   250                   1588.08
62                     3                  13200.00
72                     5                 124900.00
..                   ...                       ...
637                    5                   4600.00
680                   10                    274.20
681                   10                    293.00
687                  120                     22.85
694                  250                     11.72

[700 rows x 4 columns]

In [22]:
# Extract month number, month name, and year from the "Date" column
Lloyds_data['month_number'] = Lloyds_data['Date'].dt.month
Lloyds_data['month_name'] = Lloyds_data['Date'].dt.strftime('%B')
Lloyds_data['year'] = Lloyds_data['Date'].dt.year

# Sort the dataframe by year and month_number
Lloyds_data.sort_values(by=['year', 'month_number'], inplace=True)

# Select the desired columns
date_normalized = Lloyds_data[['Date', 'month_number', 'month_name', 'year']]

# Print the result
print(date_normalized)

          Date  month_number month_name  year
22  2013-09-01             9  September  2013
23  2013-09-01             9  September  2013
42  2013-09-01             9  September  2013
62  2013-09-01             9  September  2013
72  2013-09-01             9  September  2013
..         ...           ...        ...   ...
637 2014-12-01            12   December  2014
680 2014-12-01            12   December  2014
681 2014-12-01            12   December  2014
687 2014-12-01            12   December  2014
694 2014-12-01            12   December  2014

[700 rows x 4 columns]

In [30]:
# Perform the join on "Date" column
merged_data = pd.merge(date_normalized, Lloyds_data, on='Date')

# Filter the merged data based on the conditions
filtered_data = merged_data[
    (merged_data['month_number_x'] != merged_data['Month Number'].astype(float)) &
    (merged_data['month_name_x'] != merged_data['Month Name']) &
    (merged_data['year_x'] != merged_data['Year'].astype(float))
]

# Calculate the count
count = len(filtered_data)

# Print the count
print(count)

0

In [32]:
# Filter the dataframe based on the condition
filtered_data = Lloyds_data[Lloyds_data['Discount Band'] != 'None']

# Calculate the average discount percentage by product
grouped_data = filtered_data.groupby('Product')['Discounts', 'Gross Sales'].mean()
grouped_data['averagediscountpercentage'] = grouped_data['Discounts'] / grouped_data['Gross Sales'] * 100

# Convert the 'averagediscountpercentage' column to numeric with 5 decimal places
grouped_data['averagediscountpercentage'] = grouped_data['averagediscountpercentage'].round(5)

# Print the result
print(grouped_data[['averagediscountpercentage']])

           averagediscountpercentage
Product
Amarilla                     7.40146
Carretera                    7.86627
Montana                      7.37098
Paseo                        7.71765
VTT                          7.25690
Velo                         8.38742

C:\Users\owned\AppData\Local\Temp\ipykernel_7012\3778878822.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_data = filtered_data.groupby('Product')['Discounts', 'Gross Sales'].mean()

In [34]:
# Select distinct values of Product and Manufacturing Price
result = Lloyds_data[['Product', 'Manufacturing Price']].drop_duplicates()

# Print the result
print(result)

       Product  Manufacturing Price
22       Paseo                   10
42         VTT                  250
62   Carretera                    3
72     Montana                    5
96    Amarilla                  260
179       Velo                  120

In [36]:
# Perform the groupby operation and calculate the sum of Sales and Profit
grouped_data = Lloyds_data.groupby(['Year', Lloyds_data['Date'].dt.quarter]).agg(
    sum_sales=(' Sales', 'sum'),
    sum_profit=('Profit', 'sum')
).round(2)

# Reset the index to make Year and quarter separate columns
grouped_data.reset_index(inplace=True)

# Rename the quarter column to match the SQL query
grouped_data.rename(columns={'Date': 'quarter'}, inplace=True)

# Print the result
print(grouped_data[['sum_sales', 'sum_profit', 'Year', 'quarter']])

     sum_sales  sum_profit  Year  quarter
0   4484000.03   763603.03  2013        3
1  21931255.48  3114861.48  2013        4
2  19492152.94  2632442.94  2014        1
3  22693879.95  3232378.45  2014        2
4  20366239.84  2738064.34  2014        3
5  29758822.02  4412352.02  2014        4